.dashboard{
    margin: 0 1rem 0 1rem;
}

.dashboard-upper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.quiz-item {
    height: 2rem;
    padding: 0.2rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-item:hover {
    background-color: #FFFFFF;
}

.quiz-text {
    margin: 0 0.8rem;
    text-overflow: ellipsis;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;

}

.quiz-item-buttons{
    display: flex;
}

.quiz-header {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
    font-weight: 500;
}

.course-name {
    margin:0;
    margin-right: 1rem;
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
}

.css-o4b71y-MuiAccordionSummary-content {
    align-items: center;
}

.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
    margin: 12px 0;
}


.course-dialog-title {
    height: 2rem;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #485A6C;
    font-weight: 400;
    text-align: center;
}

.course-dialog-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
