.information-dialog-title {
  background-color: #f9c069;
  height: 2rem;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  text-align: center;
}

.information-dialog {
  width: 35rem;
}

.information-dialog-text {
  padding: 0 1rem;
}

.navbar-loading-skeleton {
  /* margin: 0 12px; */
}

.navbar-title {
  cursor: pointer;
  margin-right: 4px;
}

.navbar-option-text {
  font-size: 16px;
  margin-left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (max-width: 609px) {

  .navbar-option-text.hidden {
   display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .information-dialog {
    width: 100%;
    height: auto;
  }
}

.navbar-options-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}

.MuiToolbar-root.css-1g467ij-MuiToolbar-root {
  padding: 0 10px;
}

.information-dialog-wrapper {

  .css-hz1bth-MuiDialog-container {
    height: unset;
  }

  .css-isuxl-MuiPaper-root-MuiDialog-paper {
    margin: 8px;
    width: 100%;
  }
}